config/nodered/config-sil-four-evse-flow.json
[
    {
        "id": "9aafbf849d4d6e12",
        "type": "tab",
        "label": "Main",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ed603c51db9dcbb9",
        "type": "tab",
        "label": "Charger 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "826363effbe79eed",
        "type": "tab",
        "label": "Charger 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5cf1adf31d6e9a9d",
        "type": "tab",
        "label": "Charger 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "284077841bad890f",
        "type": "tab",
        "label": "Charger 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "af1e1eeac9c4b704",
        "type": "group",
        "z": "ed603c51db9dcbb9",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "1295e032d7ddbc20"
        ],
        "x": 1114,
        "y": 439,
        "w": 152,
        "h": 82
    },
    {
        "id": "88e71d5d22bb1542",
        "type": "group",
        "z": "826363effbe79eed",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "52a6c5dac5abf4b7"
        ],
        "x": 1074,
        "y": 419
    },
    {
        "id": "457692f78b878288",
        "type": "group",
        "z": "5cf1adf31d6e9a9d",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "471031fabab771f3"
        ],
        "x": 1094,
        "y": 419
    },
    {
        "id": "20187631a4844689",
        "type": "group",
        "z": "284077841bad890f",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "faaa471bd68f2894"
        ],
        "x": 1094,
        "y": 419
    },
    {
        "id": "27225dc1005441da",
        "type": "ui_spacer",
        "z": "9aafbf849d4d6e12",
        "name": "spacer",
        "group": "27651fee38a05406",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "7120e41583a9165f",
        "type": "ui_spacer",
        "z": "9aafbf849d4d6e12",
        "name": "spacer",
        "group": "27651fee38a05406",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "efce370cfc8e4f9b",
        "type": "ui_spacer",
        "z": "9aafbf849d4d6e12",
        "name": "spacer",
        "group": "",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "794d727ae2866f12",
        "type": "ui_spacer",
        "z": "9aafbf849d4d6e12",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": "6",
        "height": "1"
    },
    {
        "id": "f845f604f144f511",
        "type": "ui_group",
        "name": "Charger 3",
        "tab": "d3ada9fa4cf6ac53",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "736b9a14fe90c29e",
        "type": "ui_group",
        "name": "Charger 4",
        "tab": "d3ada9fa4cf6ac53",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5f1874bc873147a7",
        "type": "soop_dashboard_config"
    },
    {
        "id": "2dfe95d9105594e5",
        "type": "soop_tab",
        "name": "TI Charger Demo",
        "includedGroups": [
            {
                "id": "c9659555cef87abf",
                "width": "3",
                "height": "10",
                "groupX": 0,
                "groupY": 0
            }
        ],
        "includedGroupsName": [
            "c9659555cef87abf"
        ]
    },
    {
        "id": "c9659555cef87abf",
        "type": "soop_group",
        "name": "Charger 1",
        "tab": "2dfe95d9105594e5",
        "displayVisible": true,
        "width": "3",
        "height": "10",
        "groupX": 0,
        "groupY": 0,
        "groupState": [
            [
                true,
                true,
                true
            ],
            [
                true,
                true,
                true
            ],
            [
                true,
                true,
                true
            ],
            [
                true,
                true,
                true
            ],
            [
                true,
                true,
                true
            ],
            [
                false,
                false,
                false
            ],
            [
                false,
                false,
                false
            ],
            [
                false,
                false,
                false
            ],
            [
                false,
                false,
                false
            ],
            [
                false,
                false,
                false
            ]
        ],
        "includedNodesId": [
            "a71ce2142dc22e64",
            "cf12384f924fd278",
            "7d2afbfecb8f37bd"
        ]
    },
    {
        "id": "7140803fb3989089",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "EVerest",
                "default": "#4B7930",
                "baseColor": "#2a62ac",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#2a62ac",
                    "value": "#2a62ac",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#2a62ac",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#4f88d4",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#2a62ac",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "TI Charger Demo",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 12,
                "gy": 10,
                "cx": 6,
                "cy": 6,
                "px": 6,
                "py": 6
            }
        }
    },
    {
        "id": "fc8686af.48d178",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "5e36140d.127f1c",
        "type": "ui_group",
        "name": "PowerMeter",
        "tab": "50c487c1.27e508",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ebbb0e3f.53fbf",
        "type": "ui_group",
        "name": "Actions",
        "tab": "50c487c1.27e508",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1709edaf.162962",
        "type": "ui_group",
        "name": "Debug",
        "tab": "50c487c1.27e508",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8d6f402b.8f007",
        "type": "ui_group",
        "name": "KeepAlive",
        "tab": "50c487c1.27e508",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1ebee360.265b5d",
        "type": "ui_group",
        "name": "PowerMeter",
        "tab": "50c487c1.27e508",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d3f19d5c.593e5",
        "type": "ui_group",
        "name": "State",
        "tab": "50c487c1.27e508",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b364f7eb4621082b",
        "type": "ui_group",
        "name": "Charger 1",
        "tab": "d3ada9fa4cf6ac53",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "21e40a4a97a50168",
        "type": "ui_group",
        "name": "Charger 2",
        "tab": "d3ada9fa4cf6ac53",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d3ada9fa4cf6ac53",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3d9e45e.bcd50ba",
        "type": "ui_group",
        "name": "Radial Gauges",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1d7acba69961cda9",
        "type": "ui_group",
        "name": "All Chargers",
        "tab": "d3ada9fa4cf6ac53",
        "order": 1,
        "disp": false,
        "width": "25",
        "collapse": false
    },
    {
        "id": "b892c3b7eb9e71e7",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "142dae9.49d4751",
        "type": "ui_template",
        "z": "9aafbf849d4d6e12",
        "group": "3d9e45e.bcd50ba",
        "name": "Dashboard stylesheet",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n/*\nIt is reasnoble to declare the colors as CSS variables\nso they can be easily called by name where needed.\n\nYou can see that in many places the variables are not used. Change it!\n*/\n\n:root {\n  --color-green-primary: rgb(51, 204, 51);\n  --color-green-secondary: rgb(26, 101, 26);\n  --color-red-primary: rgb(255, 0, 0);\n  --color-red-secondary: rgba(153,0,0,1);\n  --color-gray-primary:rgba(40,40,40,1);\n  --color-gray-secondary:rgba(65,65,65,1);\n  --color-text-primary: rgb(230, 226, 209);\n  --color-widget-border: rgb(84, 78, 78);\n}\n\n/*\nAll CSS adjustments are commented out.\nTurn rules on one by one and see the changes.\nDon't use too many elements cos it wil be confusing\nStart with simple elements like text, slider or button\n\nMany of elements like buttons have states, \nthose rules must be found and adjusted also.\n*/\n\n/*\n.masonry-container {\n    position: relative;\n    width: 100%;\n    height:100%;\n    margin: 0 auto;\n    background: linear-gradient(180deg,  var(--color-gray-primary) 0%, var(--color-gray-secondary) 100%);\n}*/\n\n.nr-dashboard-cardcontainer  {\n    position: relative;\n    /*\n    box-shadow: inset 0px 1px 4px 0px #000000bb;\n    */\n    border-radius: 15px;\n}\n\n\n /*\n.nr-dashboard-theme ui-card-panel {\n    background-color: #33333300;\n    color:var(--color-text-primary);\n    border-radius: 15px;\n    box-shadow: 0 0 8px 0px #00000080;\n}*/\n\n.nr-dashboard-theme ui-card-panel{\n\n    border-radius: 15px;\n\n}\n\n/*\n\nbody.nr-dashboard-theme md-content md-card {\n    background-color: #33333300;\n    color: var(--color-text-primary);\n    text-shadow: 4px 2px 4px #00000045;\n    box-shadow: 0 -1px 5px 1px #00000045;\n    border-radius: 12px;\n    border: 1px solid var(--color-widget-border);\n}\n\n.nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n    color: var(--color-text-primary);\n}*/\n\n\n\n\n.md-button {\n    display: inline-block;\n    position: relative;\n    cursor: pointer;\n    min-height: 36px;\n    min-width: 88px;\n    line-height: 36px;\n    vertical-align: middle;\n    align-items: center;\n    text-align: center;\n    border-radius: 12px;\n    box-sizing: border-box;\n    -webkit-user-select: none;\n    -moz-user-select: none;\n    -ms-user-select: none;\n    user-select: none;\n    outline: none;\n    border: 0;\n    padding: 0 6px;\n    margin: 6px 8px;\n    background: transparent;\n    color:var(--color-text-primary);\n    white-space: nowrap;\n    text-transform: uppercase;\n    font-weight: 500;\n    font-size: 14px;\n    font-style: inherit;\n    font-variant: inherit;\n    font-family: inherit;\n    text-decoration: none;\n    overflow: hidden;\n    transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);\n}\n\n\n\n/*\n.nr-dashboard-theme .nr-dashboard-button .md-button {\n    background-color: #88888800;\n    color:var(--color-text-primary);\n}\n\n\n\n.nr-dashboard-theme .nr-dashboard-button .md-button:hover {\n    background-color: #88888855;\n}\n\n*/\n\n\nmd-slider .md-thumb {\n    z-index: 1;\n    position: absolute;\n    left: -10px;\n    top: 14px;\n    width: 20px;\n    height: 20px;\n    border-radius: 20px;\n    -webkit-transform: scale(.7);\n    transform: scale(.7);\n    transition: all .4s cubic-bezier(.25,.8,.25,1);\n    box-shadow: 0 0 6px #00000070;\n}\n\n\n\n/*\nAdvanced stuff - dynamic change of card CSS\n\nClasses here can be used to make colored stripe at the top of card\nUsage is not in here, but they are added to md-card when needed within another template\n\n.carderr {\n    background: rgb(255,0,0);\n    background: linear-gradient(180deg, var(--color-red-primary) 0px, var(--color-red-secondary) 3px, rgba(80,80,80,1) 4px, rgba(45,45,45,1) 100%);\n}\n.cardok {\n    background: rgb(39,255,0);\n    background: linear-gradient(180deg, var(--color-green-primary) 0px, var(--color-green-secondary) 3px, rgba(70,70,70,1) 4px, rgba(40,40,40,1) 100%);\n}\n*/\n\n</style>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "global",
        "x": 320,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "e8e1511b6239bfa2",
        "type": "comment",
        "z": "ed603c51db9dcbb9",
        "name": "Initialize the Connector number",
        "info": "",
        "x": 230,
        "y": 80,
        "wires": []
    },
    {
        "id": "23d875eef4c57fa8",
        "type": "change",
        "z": "ed603c51db9dcbb9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "connector_number",
                "pt": "flow",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "e99161497760c072",
        "type": "inject",
        "z": "ed603c51db9dcbb9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "23d875eef4c57fa8"
            ]
        ]
    },
    {
        "id": "b70c30908c955b81",
        "type": "comment",
        "z": "ed603c51db9dcbb9",
        "name": "Data to show",
        "info": "",
        "x": 170,
        "y": 200,
        "wires": []
    },
    {
        "id": "f96ccb60614f9f18",
        "type": "mqtt out",
        "z": "ed603c51db9dcbb9",
        "name": "",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fc8686af.48d178",
        "x": 870,
        "y": 760,
        "wires": []
    },
    {
        "id": "3a5423dc1feed224",
        "type": "ui_button",
        "z": "ed603c51db9dcbb9",
        "name": "",
        "group": "b364f7eb4621082b",
        "order": 6,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Pause",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "everest_external/nodered/#/cmd/pause_charging",
        "topicType": "str",
        "x": 150,
        "y": 700,
        "wires": [
            [
                "361b3d846c4e6673"
            ]
        ]
    },
    {
        "id": "f042bc45e3742ef7",
        "type": "ui_button",
        "z": "ed603c51db9dcbb9",
        "name": "",
        "group": "b364f7eb4621082b",
        "order": 7,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Resume",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "everest_external/nodered/#/cmd/resume_charging",
        "topicType": "str",
        "x": 160,
        "y": 760,
        "wires": [
            [
                "361b3d846c4e6673"
            ]
        ]
    },
    {
        "id": "361b3d846c4e6673",
        "type": "change",
        "z": "ed603c51db9dcbb9",
        "name": "Insert Connector number",
        "rules": [
            {
                "t": "change",
                "p": "topic",
                "pt": "msg",
                "from": "#",
                "fromt": "str",
                "to": "connector_number",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 760,
        "wires": [
            [
                "f96ccb60614f9f18"
            ]
        ]
    },
    {
        "id": "9c6d1a5e2ba43d36",
        "type": "comment",
        "z": "ed603c51db9dcbb9",
        "name": "Commands",
        "info": "",
        "x": 170,
        "y": 640,
        "wires": []
    },
    {
        "id": "51656271f4688a67",
        "type": "mqtt in",
        "z": "ed603c51db9dcbb9",
        "name": "",
        "topic": "everest_external/nodered/+/state/max_current",
        "qos": "2",
        "datatype": "auto",
        "broker": "fc8686af.48d178",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 280,
        "wires": [
            [
                "f5ca89d3e6d1d1ba"
            ]
        ]
    },
    {
        "id": "f5ca89d3e6d1d1ba",
        "type": "function",
        "z": "ed603c51db9dcbb9",
        "name": "Filter connector number",
        "func": "if (msg.topic.indexOf(String(flow.get('connector_number'))) > -1) return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 280,
        "wires": [
            [
                "1a019e35e580cbf4"
            ]
        ]
    },
    {
        "id": "1a019e35e580cbf4",
        "type": "ui_text",
        "z": "ed603c51db9dcbb9",
        "group": "b364f7eb4621082b",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Max Current",
        "format": "{{msg.payload | number: 1}}",
        "layout": "row-spread",
        "x": 890,
        "y": 280,
        "wires": []
    },
    {
        "id": "799130c039278e9b",
        "type": "ui_text",
        "z": "ed603c51db9dcbb9",
        "group": "b364f7eb4621082b",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Energy Charged",
        "format": "{{msg.payload | number:2}} kWh",
        "layout": "row-spread",
        "x": 880,
        "y": 340,
        "wires": []
    },
    {
        "id": "a24c1a5f8bb6a5b5",
        "type": "function",
        "z": "ed603c51db9dcbb9",
        "name": "Filter connector number",
        "func": "if (msg.topic.indexOf(String(flow.get('connector_number'))) > -1) return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 340,
        "wires": [
            [
                "799130c039278e9b"
            ]
        ]
    },
    {
        "id": "7164db07c0a78327",
        "type": "mqtt in",
        "z": "ed603c51db9dcbb9",
        "name": "",
        "topic": "everest_external/nodered/+/powermeter/totalKWattHr",
        "qos": "2",
        "datatype": "auto",
        "broker": "fc8686af.48d178",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 340,
        "wires": [
            [
                "a24c1a5f8bb6a5b5"
            ]
        ]
    },
    {
        "id": "9715c97a5a212e0f",
        "type": "mqtt in",
        "z": "ed603c51db9dcbb9",
        "name": "",
        "topic": "everest_external/nodered/+/state/state_string",
        "qos": "2",
        "datatype": "auto",
        "broker": "fc8686af.48d178",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 440,
        "wires": [
            [
                "0139c0ace0e5f706"
            ]
        ]
    },
    {
        "id": "8059bceefd9dcdf7",
        "type": "mqtt in",
        "z": "ed603c51db9dcbb9",
        "name": "",
        "topic": "everest_external/nodered/+/powermeter/totalKw",
        "qos": "2",
        "datatype": "auto",
        "broker": "fc8686af.48d178",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 500,
        "wires": [
            [
                "6941efd3ef8e1ac4"
            ]
        ]
    },
    {
        "id": "72a90b471d6ebb44",
        "type": "ui_level",
        "z": "ed603c51db9dcbb9",
        "group": "b364f7eb4621082b",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperature:",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": "-20",
        "max": "85",
        "segWarn": "65",
        "segHigh": "75",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": "3",
        "colorschema": "valuedriven",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "segments",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 1010,
        "y": 560,
        "wires": []
    },
    {
        "id": "4b864ea8df7d27cf",
        "type": "mqtt in",
        "z": "ed603c51db9dcbb9",
        "name": "",
        "topic": "everest_external/nodered/+/state/temperature",
        "qos": "0",
        "datatype": "auto",
        "broker": "fc8686af.48d178",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 560,
        "wires": [
            [
                "bc1b6adb5db9d7e4"
            ]
        ]
    },
    {
        "id": "1ef49a48bf883748",
        "type": "function",
        "z": "ed603c51db9dcbb9",
        "name": "",
        "func": "if (msg.topic.indexOf('totalKw')>=0) {\n    context.data.totalKw = msg.payload;\n}\nelse if (msg.topic.indexOf('state_string')>=0) {\n    context.data.state_string = msg.payload;\n}\n\n//node.warn(msg.topic);\nmsg.payload = context.data.totalKw;\nmsg.label = context.data.state_string;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.data = {}",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 480,
        "wires": [
            [
                "5bd8abc274e70360",
                "1295e032d7ddbc20",
                "eb9c5c1a036e3d81"
            ]
        ]
    },
    {
        "id": "5bd8abc274e70360",
        "type": "debug",
        "z": "ed603c51db9dcbb9",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 380,
        "wires": []
    },
    {
        "id": "1295e032d7ddbc20",
        "type": "ui_gauge",
        "z": "ed603c51db9dcbb9",
        "g": "af1e1eeac9c4b704",
        "name": "",
        "group": "b364f7eb4621082b",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "{{msg.label}}",
        "label": "Kilowatt",
        "format": "{{value}} kW",
        "min": "0",
        "max": "11",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1190,
        "y": 480,
        "wires": []
    },
    {
        "id": "6941efd3ef8e1ac4",
        "type": "function",
        "z": "ed603c51db9dcbb9",
        "name": "Filter connector number",
        "func": "if (msg.topic.indexOf(String(flow.get('connector_number'))) > -1) return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 500,
        "wires": [
            [
                "1ef49a48bf883748"
            ]
        ]
    },
    {
        "id": "0139c0ace0e5f706",
        "type": "function",
        "z": "ed603c51db9dcbb9",
        "name": "Filter connector number",
        "func": "if (msg.topic.indexOf(String(flow.get('connector_number'))) > -1) return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 460,
        "wires": [
            [
                "1ef49a48bf883748"
            ]
        ]
    },
    {
        "id": "bc1b6adb5db9d7e4",
        "type": "function",
        "z": "ed603c51db9dcbb9",
        "name": "Filter connector number",
        "func": "if (msg.topic.indexOf(String(flow.get('connector_number'))) > -1) return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 560,
        "wires": [
            [
                "72a90b471d6ebb44"
            ]
        ]
    },
    {
        "id": "cc45f1b73782292a",
        "type": "ui_slider",
        "z": "ed603c51db9dcbb9",
        "name": "MaxCurrent Slider",
        "label": "",
        "tooltip": "",
        "group": "b364f7eb4621082b",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "everest_external/nodered/#/cmd/set_max_current",
        "topicType": "str",
        "min": "6",
        "max": "16",
        "step": "0.1",
        "x": 430,
        "y": 680,
        "wires": [
            [
                "361b3d846c4e6673"
            ]
        ]
    },
    {
        "id": "eb9c5c1a036e3d81",
        "type": "ui_chart",
        "z": "ed603c51db9dcbb9",
        "name": "",
        "group": "1d7acba69961cda9",
        "order": 0,
        "width": "25",
        "height": "4",
        "label": "Total power consumption",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1270,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "de6654e5a598e2b7",
        "type": "comment",
        "z": "826363effbe79eed",
        "name": "Initialize the Connector number",
        "info": "",
        "x": 190,
        "y": 60,
        "wires": []
    },
    {
        "id": "6964c77e377156d5",
        "type": "change",
        "z": "826363effbe79eed",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "connector_number",
                "pt": "flow",
                "to": "2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "50c925a92b05ff1b",
        "type": "inject",
        "z": "826363effbe79eed",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "6964c77e377156d5"
            ]
        ]
    },
    {
        "id": "cff3e455f02e0bbd",
        "type": "comment",
        "z": "826363effbe79eed",
        "name": "Data to show",
        "info": "",
        "x": 130,
        "y": 180,
        "wires": []
    },
    {
        "id": "c5e1cf90dbc4867a",
        "type": "mqtt out",
        "z": "826363effbe79eed",
        "name": "",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fc8686af.48d178",
        "x": 830,
        "y": 740,
        "wires": []
    },
    {
        "id": "68612c519458a81d",
        "type": "ui_button",
        "z": "826363effbe79eed",
        "name": "",
        "group": "21e40a4a97a50168",
        "order": 6,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Pause",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "everest_external/nodered/#/cmd/pause_charging",
        "topicType": "str",
        "x": 110,
        "y": 680,
        "wires": [
            [
                "eb49bf4cd4e122bc"
            ]
        ]
    },
    {
        "id": "4833e54a93c9ec21",
        "type": "ui_button",
        "z": "826363effbe79eed",
        "name": "",
        "group": "21e40a4a97a50168",
        "order": 7,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Resume",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "everest_external/nodered/#/cmd/resume_charging",
        "topicType": "str",
        "x": 120,
        "y": 740,
        "wires": [
            [
                "eb49bf4cd4e122bc"
            ]
        ]
    },
    {
        "id": "eb49bf4cd4e122bc",
        "type": "change",
        "z": "826363effbe79eed",
        "name": "Insert Connector number",
        "rules": [
            {
                "t": "change",
                "p": "topic",
                "pt": "msg",
                "from": "#",
                "fromt": "str",
                "to": "connector_number",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 740,
        "wires": [
            [
                "c5e1cf90dbc4867a"
            ]
        ]
    },
    {
        "id": "6727936df42f5f3d",
        "type": "comment",
        "z": "826363effbe79eed",
        "name": "Commands",
        "info": "",
        "x": 130,
        "y": 620,
        "wires": []
    },
    {
        "id": "c888d65e0cb5f4a1",
        "type": "mqtt in",
        "z": "826363effbe79eed",
        "name": "",
        "topic": "everest_external/nodered/+/state/max_current",
        "qos": "2",
        "datatype": "auto",
        "broker": "fc8686af.48d178",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 260,
        "wires": [
            [
                "a26a78a4d97e24e3"
            ]
        ]
    },
    {
        "id": "a26a78a4d97e24e3",
        "type": "function",
        "z": "826363effbe79eed",
        "name": "Filter connector number",
        "func": "if (msg.topic.indexOf(String(flow.get('connector_number'))) > -1) return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 260,
        "wires": [
            [
                "d660f937384cd9d8"
            ]
        ]
    },
    {
        "id": "d660f937384cd9d8",
        "type": "ui_text",
        "z": "826363effbe79eed",
        "group": "21e40a4a97a50168",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Max Current",
        "format": "{{msg.payload | number: 1}}",
        "layout": "row-spread",
        "x": 850,
        "y": 260,
        "wires": []
    },
    {
        "id": "b02d1cb54fcd6d66",
        "type": "ui_text",
        "z": "826363effbe79eed",
        "group": "21e40a4a97a50168",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Energy Charged",
        "format": "{{msg.payload | number:2}} kWh",
        "layout": "row-spread",
        "x": 840,
        "y": 320,
        "wires": []
    },
    {
        "id": "e0e5e67bc17c4f5e",
        "type": "function",
        "z": "826363effbe79eed",
        "name": "Filter connector number",
        "func": "if (msg.topic.indexOf(String(flow.get('connector_number'))) > -1) return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 320,
        "wires": [
            [
                "b02d1cb54fcd6d66"
            ]
        ]
    },
    {
        "id": "0e843f83014d7fad",
        "type": "mqtt in",
        "z": "826363effbe79eed",
        "name": "",
        "topic": "everest_external/nodered/+/powermeter/totalKWattHr",
        "qos": "2",
        "datatype": "auto",
        "broker": "fc8686af.48d178",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 320,
        "wires": [
            [
                "e0e5e67bc17c4f5e"
            ]
        ]
    },
    {
        "id": "8c6005ed12d4a03c",
        "type": "mqtt in",
        "z": "826363effbe79eed",
        "name": "",
        "topic": "everest_external/nodered/+/state/state_string",
        "qos": "2",
        "datatype": "auto",
        "broker": "fc8686af.48d178",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 420,
        "wires": [
            [
                "d3e230753681d14d"
            ]
        ]
    },
    {
        "id": "552e99e216051018",
        "type": "mqtt in",
        "z": "826363effbe79eed",
        "name": "",
        "topic": "everest_external/nodered/+/powermeter/totalKw",
        "qos": "2",
        "datatype": "auto",
        "broker": "fc8686af.48d178",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 480,
        "wires": [
            [
                "961449eab67133f9"
            ]
        ]
    },
    {
        "id": "35794c06bb5262d4",
        "type": "ui_level",
        "z": "826363effbe79eed",
        "group": "21e40a4a97a50168",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperature:",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": "-20",
        "max": "85",
        "segWarn": "65",
        "segHigh": "75",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": "3",
        "colorschema": "valuedriven",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "segments",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 970,
        "y": 540,
        "wires": []
    },
    {
        "id": "526677a63144a5e4",
        "type": "mqtt in",
        "z": "826363effbe79eed",
        "name": "",
        "topic": "everest_external/nodered/+/state/temperature",
        "qos": "0",
        "datatype": "auto",
        "broker": "fc8686af.48d178",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 540,
        "wires": [
            [
                "0d4c0951aed42edd"
            ]
        ]
    },
    {
        "id": "f2769216bfdbca6b",
        "type": "function",
        "z": "826363effbe79eed",
        "name": "",
        "func": "if (msg.topic.indexOf('totalKw')>=0) {\n    context.data.totalKw = msg.payload;\n}\nelse if (msg.topic.indexOf('state_string')>=0) {\n    context.data.state_string = msg.payload;\n}\n\n//node.warn(msg.topic);\nmsg.payload = context.data.totalKw;\nmsg.label = context.data.state_string;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.data = {}",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 460,
        "wires": [
            [
                "e1afc22343225fd3",
                "52a6c5dac5abf4b7"
            ]
        ]
    },
    {
        "id": "e1afc22343225fd3",
        "type": "debug",
        "z": "826363effbe79eed",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 360,
        "wires": []
    },
    {
        "id": "961449eab67133f9",
        "type": "function",
        "z": "826363effbe79eed",
        "name": "Filter connector number",
        "func": "if (msg.topic.indexOf(String(flow.get('connector_number'))) > -1) return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 480,
        "wires": [
            [
                "f2769216bfdbca6b"
            ]
        ]
    },
    {
        "id": "d3e230753681d14d",
        "type": "function",
        "z": "826363effbe79eed",
        "name": "Filter connector number",
        "func": "if (msg.topic.indexOf(String(flow.get('connector_number'))) > -1) return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 440,
        "wires": [
            [
                "f2769216bfdbca6b"
            ]
        ]
    },
    {
        "id": "0d4c0951aed42edd",
        "type": "function",
        "z": "826363effbe79eed",
        "name": "Filter connector number",
        "func": "if (msg.topic.indexOf(String(flow.get('connector_number'))) > -1) return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 540,
        "wires": [
            [
                "35794c06bb5262d4"
            ]
        ]
    },
    {
        "id": "6b8c60b1b603a30d",
        "type": "ui_slider",
        "z": "826363effbe79eed",
        "name": "MaxCurrent Slider",
        "label": "",
        "tooltip": "",
        "group": "21e40a4a97a50168",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "everest_external/nodered/#/cmd/set_max_current",
        "topicType": "str",
        "min": "6",
        "max": "16",
        "step": "0.1",
        "x": 390,
        "y": 660,
        "wires": [
            [
                "eb49bf4cd4e122bc"
            ]
        ]
    },
    {
        "id": "52a6c5dac5abf4b7",
        "type": "ui_gauge",
        "z": "826363effbe79eed",
        "g": "88e71d5d22bb1542",
        "name": "",
        "group": "21e40a4a97a50168",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "{{msg.label}}",
        "label": "Kilowatt",
        "format": "{{value}} kW",
        "min": "0",
        "max": "11",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1150,
        "y": 460,
        "wires": []
    },
    {
        "id": "2d52a888e567f5c4",
        "type": "comment",
        "z": "5cf1adf31d6e9a9d",
        "name": "Initialize the Connector number",
        "info": "",
        "x": 210,
        "y": 60,
        "wires": []
    },
    {
        "id": "31b0b2dcb353937b",
        "type": "change",
        "z": "5cf1adf31d6e9a9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "connector_number",
                "pt": "flow",
                "to": "3",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "1ec1e07d13e591a6",
        "type": "inject",
        "z": "5cf1adf31d6e9a9d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "31b0b2dcb353937b"
            ]
        ]
    },
    {
        "id": "eb6c1b88b35c9294",
        "type": "comment",
        "z": "5cf1adf31d6e9a9d",
        "name": "Data to show",
        "info": "",
        "x": 150,
        "y": 180,
        "wires": []
    },
    {
        "id": "5b408a1f2c797069",
        "type": "mqtt out",
        "z": "5cf1adf31d6e9a9d",
        "name": "",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fc8686af.48d178",
        "x": 850,
        "y": 740,
        "wires": []
    },
    {
        "id": "14a56ad593c8d861",
        "type": "ui_button",
        "z": "5cf1adf31d6e9a9d",
        "name": "",
        "group": "f845f604f144f511",
        "order": 6,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Pause",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "everest_external/nodered/#/cmd/pause_charging",
        "topicType": "str",
        "x": 130,
        "y": 680,
        "wires": [
            [
                "d50ebf44efae3ff1"
            ]
        ]
    },
    {
        "id": "a3f028f336ccae5b",
        "type": "ui_button",
        "z": "5cf1adf31d6e9a9d",
        "name": "",
        "group": "f845f604f144f511",
        "order": 7,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Resume",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "everest_external/nodered/#/cmd/resume_charging",
        "topicType": "str",
        "x": 140,
        "y": 740,
        "wires": [
            [
                "d50ebf44efae3ff1"
            ]
        ]
    },
    {
        "id": "d50ebf44efae3ff1",
        "type": "change",
        "z": "5cf1adf31d6e9a9d",
        "name": "Insert Connector number",
        "rules": [
            {
                "t": "change",
                "p": "topic",
                "pt": "msg",
                "from": "#",
                "fromt": "str",
                "to": "connector_number",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 740,
        "wires": [
            [
                "5b408a1f2c797069"
            ]
        ]
    },
    {
        "id": "26b737dd471bd327",
        "type": "comment",
        "z": "5cf1adf31d6e9a9d",
        "name": "Commands",
        "info": "",
        "x": 150,
        "y": 620,
        "wires": []
    },
    {
        "id": "4dbc7e0c8507b52a",
        "type": "mqtt in",
        "z": "5cf1adf31d6e9a9d",
        "name": "",
        "topic": "everest_external/nodered/+/state/max_current",
        "qos": "2",
        "datatype": "auto",
        "broker": "fc8686af.48d178",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 260,
        "wires": [
            [
                "60f0b126b890c34f"
            ]
        ]
    },
    {
        "id": "60f0b126b890c34f",
        "type": "function",
        "z": "5cf1adf31d6e9a9d",
        "name": "Filter connector number",
        "func": "if (msg.topic.indexOf(String(flow.get('connector_number'))) > -1) return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 260,
        "wires": [
            [
                "20098ee438731694"
            ]
        ]
    },
    {
        "id": "20098ee438731694",
        "type": "ui_text",
        "z": "5cf1adf31d6e9a9d",
        "group": "f845f604f144f511",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Max Current",
        "format": "{{msg.payload | number: 1}}",
        "layout": "row-spread",
        "x": 870,
        "y": 260,
        "wires": []
    },
    {
        "id": "6f46493eba861632",
        "type": "ui_text",
        "z": "5cf1adf31d6e9a9d",
        "group": "f845f604f144f511",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Energy Charged",
        "format": "{{msg.payload | number:2}} kWh",
        "layout": "row-spread",
        "x": 860,
        "y": 320,
        "wires": []
    },
    {
        "id": "c9cf42292f9e8854",
        "type": "function",
        "z": "5cf1adf31d6e9a9d",
        "name": "Filter connector number",
        "func": "if (msg.topic.indexOf(String(flow.get('connector_number'))) > -1) return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 320,
        "wires": [
            [
                "6f46493eba861632"
            ]
        ]
    },
    {
        "id": "5085f5b36f401bc6",
        "type": "mqtt in",
        "z": "5cf1adf31d6e9a9d",
        "name": "",
        "topic": "everest_external/nodered/+/powermeter/totalKWattHr",
        "qos": "2",
        "datatype": "auto",
        "broker": "fc8686af.48d178",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 320,
        "wires": [
            [
                "c9cf42292f9e8854"
            ]
        ]
    },
    {
        "id": "10cd1953111c573f",
        "type": "mqtt in",
        "z": "5cf1adf31d6e9a9d",
        "name": "",
        "topic": "everest_external/nodered/+/state/state_string",
        "qos": "2",
        "datatype": "auto",
        "broker": "fc8686af.48d178",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 420,
        "wires": [
            [
                "5bc142c8396b8749"
            ]
        ]
    },
    {
        "id": "255839cf8d58eaca",
        "type": "mqtt in",
        "z": "5cf1adf31d6e9a9d",
        "name": "",
        "topic": "everest_external/nodered/+/powermeter/totalKw",
        "qos": "2",
        "datatype": "auto",
        "broker": "fc8686af.48d178",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 480,
        "wires": [
            [
                "88a0ad7e2363555e"
            ]
        ]
    },
    {
        "id": "fa36e4e30aa0f71b",
        "type": "ui_level",
        "z": "5cf1adf31d6e9a9d",
        "group": "f845f604f144f511",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperature:",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": "-20",
        "max": "85",
        "segWarn": "65",
        "segHigh": "75",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": "3",
        "colorschema": "valuedriven",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "segments",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 990,
        "y": 540,
        "wires": []
    },
    {
        "id": "04782af6d68d0cfa",
        "type": "mqtt in",
        "z": "5cf1adf31d6e9a9d",
        "name": "",
        "topic": "everest_external/nodered/+/state/temperature",
        "qos": "0",
        "datatype": "auto",
        "broker": "fc8686af.48d178",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 540,
        "wires": [
            [
                "48cc2822ef81666f"
            ]
        ]
    },
    {
        "id": "152af737170a967b",
        "type": "function",
        "z": "5cf1adf31d6e9a9d",
        "name": "",
        "func": "if (msg.topic.indexOf('totalKw')>=0) {\n    context.data.totalKw = msg.payload;\n}\nelse if (msg.topic.indexOf('state_string')>=0) {\n    context.data.state_string = msg.payload;\n}\n\n//node.warn(msg.topic);\nmsg.payload = context.data.totalKw;\nmsg.label = context.data.state_string;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.data = {}",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 460,
        "wires": [
            [
                "9dadf41404fa0d1d",
                "471031fabab771f3"
            ]
        ]
    },
    {
        "id": "9dadf41404fa0d1d",
        "type": "debug",
        "z": "5cf1adf31d6e9a9d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 360,
        "wires": []
    },
    {
        "id": "88a0ad7e2363555e",
        "type": "function",
        "z": "5cf1adf31d6e9a9d",
        "name": "Filter connector number",
        "func": "if (msg.topic.indexOf(String(flow.get('connector_number'))) > -1) return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 480,
        "wires": [
            [
                "152af737170a967b"
            ]
        ]
    },
    {
        "id": "5bc142c8396b8749",
        "type": "function",
        "z": "5cf1adf31d6e9a9d",
        "name": "Filter connector number",
        "func": "if (msg.topic.indexOf(String(flow.get('connector_number'))) > -1) return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 440,
        "wires": [
            [
                "152af737170a967b"
            ]
        ]
    },
    {
        "id": "48cc2822ef81666f",
        "type": "function",
        "z": "5cf1adf31d6e9a9d",
        "name": "Filter connector number",
        "func": "if (msg.topic.indexOf(String(flow.get('connector_number'))) > -1) return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 540,
        "wires": [
            [
                "fa36e4e30aa0f71b"
            ]
        ]
    },
    {
        "id": "2a7ec177ac9c401b",
        "type": "ui_slider",
        "z": "5cf1adf31d6e9a9d",
        "name": "MaxCurrent Slider",
        "label": "",
        "tooltip": "",
        "group": "f845f604f144f511",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "everest_external/nodered/#/cmd/set_max_current",
        "topicType": "str",
        "min": "6",
        "max": "16",
        "step": "0.1",
        "x": 410,
        "y": 660,
        "wires": [
            [
                "d50ebf44efae3ff1"
            ]
        ]
    },
    {
        "id": "471031fabab771f3",
        "type": "ui_gauge",
        "z": "5cf1adf31d6e9a9d",
        "g": "457692f78b878288",
        "name": "",
        "group": "f845f604f144f511",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "{{msg.label}}",
        "label": "Kilowatt",
        "format": "{{value}} kW",
        "min": "0",
        "max": "11",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1170,
        "y": 460,
        "wires": []
    },
    {
        "id": "b426f60aaddea3ee",
        "type": "comment",
        "z": "284077841bad890f",
        "name": "Initialize the Connector number",
        "info": "",
        "x": 210,
        "y": 60,
        "wires": []
    },
    {
        "id": "8610b39ca468d39b",
        "type": "change",
        "z": "284077841bad890f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "connector_number",
                "pt": "flow",
                "to": "4",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "b6f131d40a2c1987",
        "type": "inject",
        "z": "284077841bad890f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "8610b39ca468d39b"
            ]
        ]
    },
    {
        "id": "10d1e2841156f7d0",
        "type": "comment",
        "z": "284077841bad890f",
        "name": "Data to show",
        "info": "",
        "x": 150,
        "y": 180,
        "wires": []
    },
    {
        "id": "0fd2a2bc8f065a11",
        "type": "mqtt out",
        "z": "284077841bad890f",
        "name": "",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fc8686af.48d178",
        "x": 850,
        "y": 740,
        "wires": []
    },
    {
        "id": "3511ac4069dc9a27",
        "type": "ui_button",
        "z": "284077841bad890f",
        "name": "",
        "group": "736b9a14fe90c29e",
        "order": 6,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Pause",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "everest_external/nodered/#/cmd/pause_charging",
        "topicType": "str",
        "x": 130,
        "y": 680,
        "wires": [
            [
                "7c0542ef77339227"
            ]
        ]
    },
    {
        "id": "ed456c90af4781bd",
        "type": "ui_button",
        "z": "284077841bad890f",
        "name": "",
        "group": "736b9a14fe90c29e",
        "order": 7,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Resume",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "everest_external/nodered/#/cmd/resume_charging",
        "topicType": "str",
        "x": 140,
        "y": 740,
        "wires": [
            [
                "7c0542ef77339227"
            ]
        ]
    },
    {
        "id": "7c0542ef77339227",
        "type": "change",
        "z": "284077841bad890f",
        "name": "Insert Connector number",
        "rules": [
            {
                "t": "change",
                "p": "topic",
                "pt": "msg",
                "from": "#",
                "fromt": "str",
                "to": "connector_number",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 740,
        "wires": [
            [
                "0fd2a2bc8f065a11"
            ]
        ]
    },
    {
        "id": "c41c92594806f90c",
        "type": "comment",
        "z": "284077841bad890f",
        "name": "Commands",
        "info": "",
        "x": 150,
        "y": 620,
        "wires": []
    },
    {
        "id": "401df315126fd933",
        "type": "mqtt in",
        "z": "284077841bad890f",
        "name": "",
        "topic": "everest_external/nodered/+/state/max_current",
        "qos": "2",
        "datatype": "auto",
        "broker": "fc8686af.48d178",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 260,
        "wires": [
            [
                "dede37ef0255c726"
            ]
        ]
    },
    {
        "id": "dede37ef0255c726",
        "type": "function",
        "z": "284077841bad890f",
        "name": "Filter connector number",
        "func": "if (msg.topic.indexOf(String(flow.get('connector_number'))) > -1) return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 260,
        "wires": [
            [
                "e88fa77345b0a5e3"
            ]
        ]
    },
    {
        "id": "e88fa77345b0a5e3",
        "type": "ui_text",
        "z": "284077841bad890f",
        "group": "736b9a14fe90c29e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Max Current",
        "format": "{{msg.payload | number: 1}}",
        "layout": "row-spread",
        "x": 870,
        "y": 260,
        "wires": []
    },
    {
        "id": "8b9c3c623c328f0b",
        "type": "ui_text",
        "z": "284077841bad890f",
        "group": "736b9a14fe90c29e",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Energy Charged",
        "format": "{{msg.payload | number:2}} kWh",
        "layout": "row-spread",
        "x": 860,
        "y": 320,
        "wires": []
    },
    {
        "id": "f5f4eea9e3dce832",
        "type": "function",
        "z": "284077841bad890f",
        "name": "Filter connector number",
        "func": "if (msg.topic.indexOf(String(flow.get('connector_number'))) > -1) return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 320,
        "wires": [
            [
                "8b9c3c623c328f0b"
            ]
        ]
    },
    {
        "id": "7b2253f83dcb14be",
        "type": "mqtt in",
        "z": "284077841bad890f",
        "name": "",
        "topic": "everest_external/nodered/+/powermeter/totalKWattHr",
        "qos": "2",
        "datatype": "auto",
        "broker": "fc8686af.48d178",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 320,
        "wires": [
            [
                "f5f4eea9e3dce832"
            ]
        ]
    },
    {
        "id": "c1e3d75eb8450008",
        "type": "mqtt in",
        "z": "284077841bad890f",
        "name": "",
        "topic": "everest_external/nodered/+/state/state_string",
        "qos": "2",
        "datatype": "auto",
        "broker": "fc8686af.48d178",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 420,
        "wires": [
            [
                "472932e18c5bf7c5"
            ]
        ]
    },
    {
        "id": "bb344bdaecab20c8",
        "type": "mqtt in",
        "z": "284077841bad890f",
        "name": "",
        "topic": "everest_external/nodered/+/powermeter/totalKw",
        "qos": "2",
        "datatype": "auto",
        "broker": "fc8686af.48d178",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 480,
        "wires": [
            [
                "cc498a0ce5a0a62f"
            ]
        ]
    },
    {
        "id": "d1f7cdcdaa727ee9",
        "type": "ui_level",
        "z": "284077841bad890f",
        "group": "736b9a14fe90c29e",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperature:",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": "-20",
        "max": "85",
        "segWarn": "65",
        "segHigh": "75",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": "3",
        "colorschema": "valuedriven",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "segments",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 990,
        "y": 540,
        "wires": []
    },
    {
        "id": "5d3be419b6a00457",
        "type": "mqtt in",
        "z": "284077841bad890f",
        "name": "",
        "topic": "everest_external/nodered/+/state/temperature",
        "qos": "0",
        "datatype": "auto",
        "broker": "fc8686af.48d178",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 540,
        "wires": [
            [
                "2c3fb89402253394"
            ]
        ]
    },
    {
        "id": "302ebdb9759c0b9e",
        "type": "function",
        "z": "284077841bad890f",
        "name": "",
        "func": "if (msg.topic.indexOf('totalKw')>=0) {\n    context.data.totalKw = msg.payload;\n}\nelse if (msg.topic.indexOf('state_string')>=0) {\n    context.data.state_string = msg.payload;\n}\n\n//node.warn(msg.topic);\nmsg.payload = context.data.totalKw;\nmsg.label = context.data.state_string;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.data = {}",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 460,
        "wires": [
            [
                "778c97c788262153",
                "faaa471bd68f2894"
            ]
        ]
    },
    {
        "id": "778c97c788262153",
        "type": "debug",
        "z": "284077841bad890f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 360,
        "wires": []
    },
    {
        "id": "cc498a0ce5a0a62f",
        "type": "function",
        "z": "284077841bad890f",
        "name": "Filter connector number",
        "func": "if (msg.topic.indexOf(String(flow.get('connector_number'))) > -1) return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 480,
        "wires": [
            [
                "302ebdb9759c0b9e"
            ]
        ]
    },
    {
        "id": "472932e18c5bf7c5",
        "type": "function",
        "z": "284077841bad890f",
        "name": "Filter connector number",
        "func": "if (msg.topic.indexOf(String(flow.get('connector_number'))) > -1) return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 440,
        "wires": [
            [
                "302ebdb9759c0b9e"
            ]
        ]
    },
    {
        "id": "2c3fb89402253394",
        "type": "function",
        "z": "284077841bad890f",
        "name": "Filter connector number",
        "func": "if (msg.topic.indexOf(String(flow.get('connector_number'))) > -1) return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 540,
        "wires": [
            [
                "d1f7cdcdaa727ee9"
            ]
        ]
    },
    {
        "id": "eedcd25aba88d440",
        "type": "ui_slider",
        "z": "284077841bad890f",
        "name": "MaxCurrent Slider",
        "label": "",
        "tooltip": "",
        "group": "736b9a14fe90c29e",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "everest_external/nodered/#/cmd/set_max_current",
        "topicType": "str",
        "min": "6",
        "max": "16",
        "step": "0.1",
        "x": 410,
        "y": 660,
        "wires": [
            [
                "7c0542ef77339227"
            ]
        ]
    },
    {
        "id": "faaa471bd68f2894",
        "type": "ui_gauge",
        "z": "284077841bad890f",
        "g": "20187631a4844689",
        "name": "",
        "group": "736b9a14fe90c29e",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "{{msg.label}}",
        "label": "Kilowatt",
        "format": "{{value}} kW",
        "min": "0",
        "max": "11",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1170,
        "y": 460,
        "wires": []
    }
]